@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  padding: 1em;
  background-color: #f9f9f9;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1em;
  background-color: #2c3e50;
  color: #ecf0f1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

nav > a {
  text-decoration: none;
  color: #ecf0f1;
  padding: 1em;
  font-weight: bold;
  transition: color 0.3s;
}

nav > a:hover {
  color: #e74c3c;
}

nav > a:nth-child(2) {
  border-left: 1px solid #34495e;
  border-right: 1px solid #34495e;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#books {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 11em);
}

#form,
#contact {
  margin-top: 2em;
  height: calc(100vh - 13em);
  background-color: #3498db;
  padding: 1em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  color: #e74c3c;
}

h2 {
  font-size: 2em;
  margin: 1em 0 1em 0;
  text-align: center;
  font-weight: 600;
  color: #ecf0f1;
}

.book-div {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  background-color: #ecf0f1;
  border-radius: 8px;
  margin-bottom: 0.5em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.all-books {
  width: 70%;
  padding: 1em;
  margin-bottom: 4em;
}

.new-book {
  display: flex;
  flex-direction: column;
  width: 50%;
}

input {
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #3498db;
}

.add {
  align-self: flex-end;
  padding: 0.5em 2em;
  background-color: #e74c3c;
  color: #ecf0f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add:hover {
  background-color: #c0392b;
}

.remove {
  padding: 0.5em 2em;
  background-color: #e74c3c;
  color: #ecf0f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remove:hover {
  background-color: #c0392b;
}

#contact p,
#contact ul {
  font-size: 1.2em;
  margin-bottom: 1em;
  color: #ecf0f1;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1em;
  background-color: #2c3e50;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  border-top: 2px solid #34495e;
}

.hidden {
  display: none !important;
}

.active {
  text-decoration: underline;
  color: #e74c3c;
  font-weight: bold;
}

.date {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0.5em;
  color: #95a5a6;
}

.successMsg {
  color: #e74c3c;
  display: flex;
  width: 100%;
  justify-content: center;
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.transparent {
  opacity: 0;
}
